<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New</title>
</head>
<body>
    <h1>Create a new post</h1>
    <form action="/posts" method="post">
        <section>
            <label for="username">Enter username:</label>
            <input type="text" id="username" placeholder="username" name="username">
        </section>
        <section>
            <label for="post">Post Text</label>
            <br>
            <textarea name="post" id="post" cols="30" rows="5"></textarea>
        </section>
    <button>Submit</button>
    </form>
    <a href="/posts">Back to Index</a>
</body>
</html>