<%- include('partials/head')%>
<body>
    <%- include('partials/navbar')%>
    <!-- Will show as The Home Page 9. Any code in the tage after Page is JS not HTML -->
    <h1>The Home Page <%= 4 + 5 %>
    </h1>
    <p>Lorem Ipsum</p>
    <p>Lorem Ipsum</p>
</body>

</html>